body {
    font-family: Arial, sans-serif;
    background-color: #ffe6e6;
    text-align: center;
}

header {
    background-color: #ff8080;
    padding: 20px;
    margin-bottom: 30px;
}

h1 {
    color: white;
    font-size: 28px;
}

h3 {
    color: #ff4d4d;
    font-size: 24px;
}

.joke {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.joke p {
    margin-top: 10px;
    font-size: 18px;
}

.jokes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .jokes-container {
        flex-direction: row;
        justify-content: space-around;
    }
}
